*{
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
}
body{
    background: #fff;
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
    margin: 0px;
}
.wrapper {
    min-height: 100%;
    min-width: 1240px;
    padding-bottom: 300px;
    width: 100vw;
}

.page-header{
    background-color:#fff;
}
div {
    display: block;
}
div > .page-header{
    box-sizing: border-box;
    display: block;
}
.page-header::after , .page-header::before{
    display: table;
}
.navbar {
    background-color: #fff;
    height: 60px;
    margin-bottom: -26px;
    position: relative;
    text-align: left;

    background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23339966' fill-opacity='0.5'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.page-header .header-logo {
    margin-left: 100px;
}

.header-logo, .navbar::before{
    display: inline-block;
    vertical-align: middle;
}
.header-logo img{
    height: 65px;
    width: 275px;
}
nav {
    background-color: seagreen;
    position: relative;
    display: inline-block;
    width: 100%;

}
nav.header-bosch-shadow{
    box-shadow: 0 3px 3px rgb(0 0 0 / 30%) ;
}
nav > div {
    margin-left: auto;
    margin-right: auto;
    
    box-sizing: border-box;
    display: block;
    position: relative;
}
.navigation-items>li {
    color:#fff;
    line-height: 40px;
    display: inline-block;
    font-size: 20px;
    text-align: center;
}
.navigation-items>li>a{
    color:#fff;
}
.navigation-items>li>a:link{
    text-decoration: none;
}
.page-header ul {
    margin-bottom: 0;
}
.header-menu {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    list-style: none;
    margin-top: 10px;
    margin-right: 150px;
    text-align: center;
    display: inline-block;
    
}
.header-menu>li {
    float: right;
    font-size: 22px;
    list-style: none;
    margin-top: 10px;
    margin-right: 20px;
    display: inline-block;
}
.header-label {
    color: black;
    display: inline-block;
    margin-bottom: 2px;
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
}
.header-menu>li a {
    color: #333;
    display: inline-block;
    outline: none;
    position: relative;
    text-decoration: none;
    font-weight:500;

}
.leader-benefits-wrapper .navigation-items>li>a:active, .leader-benefits-wrapper .navigation-items>li>a:hover{
    color: rgb(32, 95, 59);
}
.navigation-items>li.active a{
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #333;
}
div > ul{
    display:inline-block;
    text-align: center;
    margin-block-start: 0.1em;
    margin-block-end: 1em;
    margin-inline-start: 80px;
    margin-inline-end: 0px;
    padding-inline-start: 325px;
}
div > ul.header-menu{
    display:inline-block;
    margin-block-start: 0.3em;
    margin-block-end: 0.12em;
    margin-inline-start: 0px;
    margin-inline-end: 50px;
    padding-inline-start: 10px;
}

.leader-benefits-wrapper .navigation-items>li.basic a{
    margin-left: 40px;
}
.leader-benefits-wrapper .navigation-items>li.active a{
    padding-top: 5px;
    padding-right: 18px;
    padding-bottom: 10px;
    padding-left: 18px;
}
img.search{
    width: 24px;
   height: 28px;  
}
img.heart{
    width: 32px;
   height: 28px;  
}
ul.header-menu{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23339966' fill-opacity='0.2'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-color: #fff;
    border-width: 2px;
    border-color: seagreen;
    border-style: solid;
    border-radius: 10px;
}
li.newSkelbimas{
    background-color: seagreen;
    border-radius: 5px;
    margin-top: 7px;

}
li.newSkelbimas > a {
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}
a.listingTitle{
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: inline;
    
}
p.listingDescription{
    color: #333;
    margin-top: 6px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 20px;
    font-size: 14px;
}
.list-item{
    margin-top: -1px;
    padding: 8px;
    position: relative;
}
article.list-item{
    width: 50%;
    border-color: seagreen;
    border-width: 1px;
    border-style: solid;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
}
.list-item .right .image {
    float: left;
    margin: 0 15px 0 0;
    margin-top: 0px;
    margin-right: 15px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 240px;
    height: 179px;
    position: relative;
}
img.listingImage{
    width: 240px;
    height: 179px;
   
}
div.description{
    overflow: hidden;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
.list-item .right .description .up{
    color: #ffffff;
    background-repeat: no-repeat;
    display: inline-block;
    margin-top: 8px;
    margin-right: 2px;
    background-color: seagreen;
    border-radius: 2px;
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    vertical-align: top;
    position: relative;
    height: 18px;
}
.starIcon{
    position: absolute;
    top: 2px;
    right: 3px;
    height: 13px;
    width: 13px;
}
.item-description{
    color: #333;
    margin-top: 6px;
    line-height: 20px;
}
.primary{
    height: 20px;
    overflow: hidden;
    font-size: 14px;
    font-weight: normal;
}
.secondary{
    height: 20px;
    overflow: hidden;
    font-size: 14px;
    font-weight: normal;
}
.list-item .right .description .item-title{
    color: #333;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: inline;   
}
a.listingTitle{
    text-decoration: none;
    color: seagreen;
}
.item-price{
    line-height: 18px;
    background-color: seagreen;
    color: #fff;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 62px;
    margin-left: 0px;
    font-weight: bold;
    font-size: 16px;
    float: left;
}

/*
======================================================
Home screen CSS
======================================================
*/

#content{
    margin: 0 auto;
    max-width: 1140px;
    min-width: 1024px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}
div.main-wrapper{
  max-width: 1140px;
  min-width: 1024px;
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  position:relative;
}
.overlay{
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   position: fixed;
   z-index: 9;
   display: none;
}
.search-panel {
    width: 100%;
    height: 400px;
    max-width: 1140px;
    min-width: 1024px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    position: relative;
    background-color: rgba(46, 139, 86, 0.274);
}
.categories-list-container {
    padding-top: 13px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    height: 69px;
}
.categories-list-container .buttons .button{
    position: relative;
    float: left;
    width: 77px;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid transparent;
    border-left-color: #9c9c9c44;
    
    margin-right: -1px;
    height: 56px;
    background-color: #fafafafa;
}
.buttons .button.active .cat-btn{
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: seagreen;
    margin-top: -3.5px;
    box-shadow: -4px 3px 7px 0px rgb(42 49 60 / 12%);
    height: 56px;
    background-color: #fff;
}
.categories-list-container .buttons .button.active .icons{
    padding-top: 5px;
}
.categories-list-container .icons {
    height: 33px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    padding-top: 7px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
.categories-list-container .icons span{
    display: block;
    width: 50px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    height: 50px;
    text-align: center;
    color: #616161;
    position: relative;
}
.categories-list-container .buttons .button.active .icon::before{
    transform: scale(1, 1);
}
.categories-list-container .icon::before{
    top: -5px;
}
.categories-list-container .icon::before{
    width: 50px;
    height: 50px;
    left: 0;
    background-size: 100px 2210px;

}
.categories-list-container .buttons .button.active .title{
    color: #555555;
    
}
.categories-list-container .buttons .button.active div > .title:active{
    text-decoration: none;
    
}
.categories-list-container .buttons .button .title{
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    text-decoration: none;
    color: #555555;
}
.categories-list-container .buttons .button div > .title:active{
    text-decoration: none;
    
}
img.caricon{
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    position: relative;
    margin: 0 auto;
}
img.motoricon{
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    position: relative;
    margin: 0 auto;
    padding-bottom: 5px;
}
.title:link{
    text-decoration: none;
    
}
.title:visited{
    text-decoration: none;
    
}
.title:hover{
    text-decoration: none;
}
.title:active{
    text-decoration: none;
}
.search-form{
    padding-top: 0px;
    padding-right: 9px;
    padding-bottom: 14px;
    padding-left: 15px;
    float: left;
    clear: both;
    width: 528px;
    height: 304px;
    position: relative;
}
.search-form .search-form-inner{
    background: #fff;
    line-height: 15px;
    font-size: 14px;
    width: 528px;
    height: 304px;
    position: relative;
}
.quick-search-form-conntainer{
    background: #fff;
    box-sizing: border-box;
    height: 100%;
    left: 0;
    padding-top: 20px;
    padding-right: 18px;
    padding-bottom: 0px;
    padding-left: 18px;
    position: absolute;
    text-align: left;
    top: 0;
    width: 100%;
}
form {
    display: block
}
.search-panel .offertype-selection {
    height: 28px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.search-panel .form-heading {
    box-sizing: border-box;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    display: inline-block;
    color: #000000;
    white-space: nowrap;
}
.search-panel .form-heading.heading-with-checkbox h1 {
    max-width: 270px;
}
.search-panel .form-heading h1{
    vertical-align: bottom;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    font-size: 14px;
    color:#000000;
    line-height: 15px;
}
.search-panel .form-heading .ads-count {
    font-weight: normal;
    color: seagreen;
    font-size: 13px;
}
.search-panel .group-condition {
    float: right;
    display: inline-block;
    white-space: nowrap;
}
.search-panel .checkbox-condition {
    opacity: 0;
    position: absolute;
}
input {
    padding: 5px;
    box-sizing: border-box;
    font-family: Helvetica,Arial;
}
.search-panel .group-condition label {
    padding-right: 15px;
}
.search-panel .offertype-selection label {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    user-select: none;
    cursor: pointer;
    margin: 0;
    font-size: 14px;
    color: #616161;
    line-height: 16px
}
.search-panel .checkbox-condition+label {
    padding-left: 25px;
}
.search-panel .checkbox-condition+label::before{
    border: 1px solid seagreen;
    height: 14px;
    left: 0;
    transition: border-color 0.2s ease-in 0s;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-property: border-color;
    width: 14px;
    margin-top: -9px;
    top: 50%;
    display: block;
    position: absolute;
}
.quick-search-form-conntainer .row{
    clear: both;
}
.form-inputs-container .row .left{
    width: 229px;
    float: left;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 22px;
    box-sizing: border-box
}
.form-inputs-container .label{
    margin-top: 11px;
    margin-right: 0px;
    margin-bottom: 3px;
    margin-left: 0px;
    color: #222222;
}
.form-input {
    position: relative;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(220, 220, 220);
    border-right-color: rgb(220, 220, 220);
    border-bottom-color: rgb(220, 220, 220);
    border-left-color: rgb(220, 220, 220);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    outline: none;
}
.form-input .title{
    line-height: 28px;
    height: 28px;
    font-size: 13px;
    overflow: hidden;
    color: #4f4f4f;
    padding-top: 0px;
    padding-right: 160px;
    padding-bottom: 0px;
    padding-left: 5px;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-image: url(/public/assets/Images/arrow-down.svg);
    background-position: right center;
    background-repeat: no-repeat;
    background-color: #fff;
}
.form-input .values-container {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 10;
}
.form-input .values-container .input-text{
    width: 100%;
    height: 29px;
    display: block;
    box-sizing: border-box;
}
.form-input .values-container .input-text input {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
    box-sizing: border-box;
    padding-top: 0px;
    padding-right: 25px;
    padding-bottom: 0px;
    padding-left: 10px;
    outline: none;
}
.form-inputs-container .row input{
    line-height: 30px;
    background-color: #fff;
    color: #4f4f4f;
    font-size: 13px;
}
.form-input .values-container .values {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(223, 223, 223);
    border-right-color: rgb(223, 223, 223);
    border-bottom-color: rgb(223, 223, 223);
    border-left-color: rgb(223, 223, 223);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(239, 239, 239);
    background-color: #ffffff;
    width: 100%;
    max-height: 300px;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    overflow-y: auto;
    display: block;
    margin-top: 0px;
    margin-right: -1px;
    margin-bottom: 0px;
    margin-left: -1px;
}
.form-input .values-container .values .simple{
    color: #4f4f4f4f;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    cursor: pointer;
    user-select: none;
}
.form-input .values-container .values .simple .value-records-count{
    float: right;
}
.quick-search-form-conntainer{
    text-align: left;
}
.search-form .search-form-inner{
    line-height: 15px;
    font-size: 14px;
}
.form-input .values-container .values .simple .value-title {
    overflow: hidden;
}
.form-input .values-container .values .simple{
    color: #4f4f4f4f;
    cursor: pointer;
    user-select: none;
}